<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>This is about section</h2>
	<input type="button" onclick="location.href='/'" value="Home">
</body>

<script>
	
</script>
</html>


