<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body style="background-color: lightblue; background-attachment: fixed;background-size: cover; background-repeat: no-repeat;">

	<h1>This is the page for information retrieval</h1>

	<div style="border:2px dashed blue; position: relative; width:30%;overflow-wrap: break-word;">
		<h3>First Name : <%= firstname %></h3>
		<h3>Last Name : <%= lastname %></h3>
		<h3>Hobbies :<br>
		<ul>
			<% hobbies.split(',').forEach(function(item){ %>
			<li><%= item + " "%></li>
			<% }); %>
		</ul>
		</h3>
	</div>
	<% include nav.ejs %>

	
</body>
</html>